---
const {title, year, description, isLeft} = Astro.props
---
<!-- Copy and paste this to create more cards and change the text -->
<div class="flex flex-row gap-10">

    {isLeft && (
        <div class="flex flex-col gap-5 content-center justify-items-center transform translate-y-[-30px] border-1 border-pink-600 shadow-lg p-8 rounded-xl">

            <div class="flex flex-col gap-3 content-center justify-items-center">

                <!-- Enter the year of the card here -->
                <p class="text-xl text-[#4D9999] shrink ">{year}</p>

                <!-- Title of the card -->
                <p class="2xl:text-xl md:text-lg
                text-[#4D9999] shrink ">{title}</p>

                <!-- Description of the event -->
                <p class="text-xs text-pink-600 text-wrap shrink max-w-xs ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Cras venenatis euismod m Cras venenatis euismod malesuada.alesuada.
</p>
            </div>


        </div>
    )}
        
    <a class="relative group inline-block p-2 flex w-10 h-10 justify-center items-center rounded-full bg-pink-300 bg-cover bg-center border-6 border-cream-100 drop-shadow-md shrink ">
    </a>

    {!isLeft && (
        <div class="flex flex-col gap-5 content-center justify-items-center transform translate-y-[-30px] border-1 border-pink-600 shadow-lg p-8 rounded-xl">

            <div class="flex flex-col gap-3 content-center justify-items-center">

                <!-- Enter the year of the card here -->
                <p class="text-xl text-[#4D9999] shrink ">{year}</p>

                <!-- Title of the card -->
                <p class="2xl:text-xl md:text-lg
                text-[#4D9999] shrink ">{title}</p>

                <!-- Description of the event -->
                <p class="text-xs text-pink-600 text-wrap shrink max-w-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. VCras venenatis euismod malesuada. Cras venenatis euismod malesuada. Cras venenatis euismod malesuada. Cras venenatis euismod malesuada.ivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada.
</p>
            </div>

           
        </div>
    )}
</div>
