---
const {title, year, description, offsetLocation} = Astro.props
---
<!-- Copy and paste this to create more cards and change the text -->
<div>
    <div class="flex flex-col gap-3">
        
        <a class="relative group inline-block p-2 flex 
        2xl:w-10 2xl:h-10 
        xl:w-9 xl:h-9 
        md:w-5 md:h-5 
        sm:w-3 sm:h-3
        justify-center items-center rounded-full bg-pink-300 bg-cover bg-center border-6 border-cream-100 drop-shadow-md shrink ">
            <div class="flex content-center justify-items-center absolute left-1/2 -translate-x-1/2 top-[-20px] -translate-y-full -mt-2 
            2xl:w-52 2xl:h-47 
            xl:w-49 xl:h-44
            md:w-46 md:h-41
            sm:w-43 sm:h-39

            
            bg-teal-100 hidden group-hover:block rounded-[1.5vw] shrink ">
                
                <div class="absolute left-1/2 -translate-x-1/2 bottom-[-10px] w-0 h-0 
                border-l-10 border-l-transparent 
                border-r-10 border-r-transparent 
                border-t-10 border-t-teal-100 shrink "></div>
                
                <!-- The hover box -->
                <div class="flex content-center justify-items-center 
                2xl:w-45 2xl:h-42 
                xl:w-42 xl:h-39
                md:w-39 md:h-36
                sm:w-36 sm:h-33 
                
                bg-cream-200 hidden group-hover:block rounded-[1.5vw] p-2 shrink ">
    
                    <!-- Title of the card -->
                    <p class="2xl:text-xl md:text-lg
                    text-[#4D9999] shrink ">{title}</p>
    
                    <!-- Description of the event -->
                    <p class="text-xs text-pink-600 text-wrap shrink ">{description}</p>
                </div>
            </div>
        </a>
    
        <!-- Enter the year of the card here -->
        <p class="text-xl text-[#4D9999] shrink ">{year}</p>
    </div>
</div>   
