---
import wave from '../../assets/extra/wave.svg'
---

<div class="relative z-10 flex flex-col items-center gap-10">
	<img
	src={wave.src}
	alt="wave background"
	class="w-full h-[300px] object-cover"
	/>
 </div>