<p><code>wrapAround: true</code></p>

<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true}'>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
</div>