---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #fff7ed;
		
	}
</style>

<div class="m-20 w-3/4 bg-[944029] text-red-500 text-left p-5 flex items-center justify-between min-h-screen">
	<div class="font-lora flex flex-col gap-y-5 w-2/3">
		<header class="font-[600] text-[43px]">Our Mission</header>
		<p class="font-[300] font-raleway">
			Women in Computer Science (WiCS) at UIC is a student organization that strives to provide a support network compromising of mentors and peers and acts as a social, technical, and networking community. We help provide resources and opportunities to all students to help broaden their careers within the tech industry.
		</p>
	</div>
		<img src="group.png" alt="WiCS Logo" class="w-100 h-auto mr-5 flex items-right" />
	</div>

	  
