---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import UpcomingEvents from "../components/UpcomingEvents.astro";
---

<main>
  <UpcomingEvents />
</main>
