---
import Layout from "../layouts/Layout.astro";
import Nav3 from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Sublanding from "../components/Sublanding.astro";
import Resource from "../components/Resource.astro";

const section = [
  {
    title: "Internship List 2026",
    links: [
      // { label: "Internship List 2026", href: "#" },
      { label: "Summer 2026 Internship List", href: "https://github.com/vanshb03/Summer2026-Internships" },
    ],
  },
  {
    title: "Resume guide",
    links: [
      { label: "2023 Resume Workshop", href: "https://docs.google.com/presentation/d/1KVOu9AwcuKLjtKy5DOh14lcbKryp3cMjO27yEG-EIj8/edit?usp=sharing" },
      // { label: "Example Resumes", href: "#" },
    ],
  },

  {
    title: "Workshop Slides Archive",
    links: [
      { label: "Build Your Personal Website", href: "https://docs.google.com/presentation/d/1orjfHXvqaWpeZN9tLUjOG_tNazU1sGf6zELCB_SOZfQ/edit?usp=sharing" },
      { label: "Intro to APIs", href: "https://docs.google.com/presentation/d/1Dkd7bu1JMozFhqvwlkzQCeypl0VdvC62xeM66tJLP80/edit?usp=sharing" },
      { label: "Linkedin Workshop", href: "https://docs.google.com/presentation/d/18zOVwIagra9WvJlnO7fK1X_otgtCK6QILgD3gWqAOl8/edit?usp=sharing" },
      { label: "SparkHacks - Git Like a Pro", href: "https://docs.google.com/presentation/d/1sQuozxhQ7AG4xzc6jynAllQMbaLIfCW6MTsPqY_cmcM/edit?usp=sharing" },
    ],
  },
  {
    title: "Other Resources",
    links: [{ label: "Cs Student Guide", href: "https://factual-ink-b19.notion.site/CS-Student-Guide-8dad758f87904cc48c79691526192da0" }],
  },
];

const orgs = [{ name: "Society of Women Engineers" }];
---

<Nav3 />
<Layout />
<Sublanding
  title="Resources"
  ,
  subheadline="Be a part of a diverse community dedicated to empowering women in tech!"
/>

<section class="mb-[100px]">
  {section.map((sec) => <Resource title={sec.title} links={sec.links} />)}
</section>

<Footer background="bg-cream-300" />
