---
const {eventInfo} = Astro.props;
---
<section class="container rounded-lg w-[20%] h-[50%] px-2 py-7 bg-[#97d4d3]">
    <div class="container rounded-lg w-[90%] min-h-full mx-auto my-auto p-3 bg-[#c5e8e7]">
        <h3 class="font-bold algin-middle text-left text-[#954530]">{eventInfo}</h3>
    </div>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Play&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Play&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
</style>