---
import Card from './Card.astro';
import CardPopUp from './CardPopUp.astro';
import '../styles/global.css';

export interface Props {
    events: Array<{imagePath: string; eventName: string }>;
}

const { events } = Astro.props;
---

<section class="cards-page py-[400px] bg-cream-300">
    <div class="container w-[70%] mx-auto">
        <h1 class="cards-header text-center lg:text-left text-4xl sm:text-5xl md:text-6xl lg:text-[64px] text-red-500 font-['Lora'] font-bold">Get Involved!</h1>
        <div class="cards flex flex-wrap gap-12 md:gap-10 2xl:gap-5 justify-center pt-[65px]">
            {events.map((event) => (
                <Card event={event} />
                
            ))}
        </div>
    </div>
</section>