---
const {eventInfo} = Astro.props;

---
<section class="container rounded-lg w-[20%] h-[50%] px-2 py-7 bg-teal-200">
    <div class="container rounded-lg w-[90%] min-h-full mx-auto my-auto p-3 bg-teal-100">
        <h3 class="font-bold algin-middle text-left text-red-500">{eventInfo}</h3>
    </div>
</section>