---
import "../styles/global.css";
import Nav3 from '../components/nav3.astro';
---
<html lang="en">
<head>
    <!-- Head -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#fff7ed]">
    <!-- Nav Bar -->
    <Nav3/>

    <!-- Add Header Here -->
<!-- bubble 1 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <p class="text-xl font-raleway max-w-xs  text-[#944029]">
                <strong class="text-3xl font-lora">Co-Host an Event</strong><br><br>
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit <br><br>
    
                Past Events: <br>
                • Company Info Sessions <br>
                • Resume Reviews <br>
                • Behavioral Interview Tips
            </p>
            <img src="src/assets/extra/Group_147.svg" alt="Centered Image" width="300px">
        </div>
    </div>
<!-- bubble 2 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <img src="src/assets/extra/Group_148.svg" alt="Left Aligned Image" width="300px"> <!-- Image moved first -->
            <p class="text-xl font-raleway max-w-xs text-[#944029]">
                <strong class="text-3xl font-lora ">Office Tours</strong><br><br>
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet<br>
            </p>
        </div>
    </div>
<!-- bubble 3 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <p class="text-xl font-raleway max-w-xs text-[#944029]">
                <strong class="text-3xl font-lora ">Sponsor Us</strong><br><br>
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet            </p>
            <img src="src/assets/extra/Group_147.svg" alt="Centered Image" width="300px">
        </div>
    </div>
</body>
</html>
