---
import "../styles/global.css";
import Nav3 from '../components/nav3.astro';
---
<html lang="en">
<head>
    <!-- Head -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#fff7ed]">
    <!-- Nav Bar -->
    <Nav3/>

    <!-- Add Header Here -->
    <div class="space-y-20">
        <!-- bubble 1 -->
        <div class="h-auto w-screen flex flex-wrap items-center justify-center py-10 mt-[125px]">
            <div class="flex flex-wrap items-center gap-x-20 gap-y-6">
                <p class="text-xl font-raleway max-w-xs  text-[#944029]">
                    <strong class="text-3xl font-lora">Co-Host an Event</strong><br><br>
                    Join us in creating an enriching event experience for the WiCS community! <br><br>
        
                    Past Events: <br>
                    • Company Info Sessions <br>
                    • Resume Reviews <br>
                    • Behavioral Interview Tips <br>
                    -- and more!
                </p>
                <!-- <img src="src/assets/extra/Group_147.svg" alt="Centered Image" width="300px"> -->
                <div class="relative min-w-[300px] min-h-[300px]">
                    <img src="src/assets/extra/Group1.svg" class="absolute top-0 left-0 w-full h-full">
                
                    <img src="src/assets/extra/pic1.png" 
                         class="absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2  ">
                </div>
            </div>
        </div>
        <!-- bubble 2 -->
        <div class="h-auto w-screen flex flex-wrap items-center justify-center py-10">
            <div class="flex flex-wrap items-center gap-x-20 gap-y-6">
                <div class="relative w-[300px] h-[300px]">
                    <img src="src/assets/extra/Group2.svg" class="absolute top-0 left-0 w-full h-full">
                
                    <img src="src/assets/extra/pic2.png" 
                         class="absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 w-[90%] ">
                </div>
                <!-- <img src="src/assets/extra/Group2.svg" alt="Left Aligned Image" width="300px">  -->
                <p class="text-xl font-raleway max-w-xs text-[#944029]">
                    <strong class="text-3xl font-lora">Office Tours</strong><br><br>
                    Does your company have an office in Chicago? We'd love to visit! Whether it's an office tour or an on-site event, we'd be honored to bring our community to you.<br>
                </p>
            </div>
        </div>
        <!-- bubble 3 -->
        <div class="h-auto w-screen flex flex-wrap items-center justify-center py-10">
            <div class="flex flex-wrap items-center gap-x-20 gap-y-6">
                <p class="text-xl font-raleway max-w-xs text-[#944029]">
                    <strong class="text-3xl font-lora ">Sponsor Us</strong><br><br>
                    WiCS hosts a number of professional and social events, including workshops, socials, and panels, all throughout the academic year. If you are interested in becoming a WiCS sponsor, we'd love to get in touch! </p>
                <!-- <img src="src/assets/extra/Group3.svg" alt="Centered Image" width="300px"> -->
                <div class="relative w-[300px] h-[300px]">
                    <img src="src/assets/extra/Group3.svg" class="absolute top-0 left-0 w-full h-full">
                
                    <img src="src/assets/extra/pic3.png" 
                         class="absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 w-[90%] ">
                </div>
            </div>
        </div>
        <!-- bubble 4 -->
        <div class="h-auto w-screen flex flex-wrap items-center justify-center py-10">
            <div class="flex flex-wrap items-center gap-x-20 gap-y-6">
                <!-- <img src="src/assets/extra/Group4.svg" alt="Left Aligned Image" width="300px">  -->
                <div class="relative w-[300px] h-[300px]">
                    <img src="src/assets/extra/Group4.svg" class="absolute top-0 left-0 w-full h-full">
                
                    <img src="src/assets/extra/pic4.png" 
                         class="absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 w-[90%] ">
                </div>
                <p class="text-xl font-raleway max-w-xs text-[#944029]">
                    <strong class="text-3xl font-lora ">Talent Pipeline</strong><br><br>
                    If your company has any open job or internship opportunities, please let us know! We'd be happy to broadcast them to our talented WiCS community.<br>
                </p>
            </div>
        </div>
    </div>

    <!-- sponsorship packet section -->
    <div class="h-auto w-screen flex flex-wrap flex-col items-center justify-center bg-pink-50 relative py-10 overflow-hidden">
        <!-- cloud images -->
        <img src="src/assets/extra/cloud.svg" class="absolute max-w-[999px] left-180 top-[-50px]">
        <img src="src/assets/extra/cloud.svg" class="absolute max-w-[999px] right-180 top-70">

        <!-- header -->
        <p class="text-xl text-center font-raleway max-w-xs text-[#944029]">
            <strong class="text-3xl font-lora">Sponsorship Packet</strong><br><br>
            This document holds everything you need to know about supporting WiCS!<br>
        </p>

        <!-- embedded packet -->
        <div class="bg-white p-6 rounded-xl shadow-lg mt-10 border-[10px] border-pink-200">
            <iframe
                src="https://drive.google.com/file/d/1fV7yT6chA9hZpgsrO8OELi57WrzVJrQo/view?usp=sharing"
                width="400" height="500"
                class="rounded-md">
            </iframe>
        </div>
    </div>

</body>
</html>
