---
import "../styles/global.css";
import Nav3 from '../components/nav3.astro';
---
<html lang="en">
<head>
    <!-- Head -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#fff7ed]">
    <!-- Nav Bar -->
    <Nav3/>

    <!-- Add Header Here -->

<!-- bubble 1 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <p class="text-xl font-raleway max-w-xs  text-[#944029]">
                <strong class="text-3xl font-lora">Co-Host an Event</strong><br><br>
                Join us in creating an enriching event experience for the WiCS community! <br><br>
    
                Past Events: <br>
                • Company Info Sessions <br>
                • Resume Reviews <br>
                • Behavioral Interview Tips <br>
                -- and more!
            </p>
            <img src="src/assets/extra/Group_147.svg" alt="Centered Image" width="300px">
        </div>
    </div>
<!-- bubble 2 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <img src="src/assets/extra/Group_148.svg" alt="Left Aligned Image" width="300px"> <!-- Image moved first -->
            <p class="text-xl font-raleway max-w-xs text-[#944029]">
                <strong class="text-3xl font-lora">Office Tours</strong><br><br>
                Does your company have an office in Chicago? We'd love to visit! Whether it's an office tour or an on-site event, we'd be honored to bring our community to you.<br>
            </p>
        </div>
    </div>
<!-- bubble 3 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <p class="text-xl font-raleway max-w-xs text-[#944029]">
                <strong class="text-3xl font-lora ">Sponsor Us</strong><br><br>
                WiCS hosts a number of professional and social events, including workshops, socials, and panels, all throughout the academic year. If you are interested in becoming a WiCS sponsor, we'd love to get in touch! </p>
            <img src="src/assets/extra/Group_149.svg" alt="Centered Image" width="300px">
        </div>
    </div>
<!-- bubble 4 -->
    <div class="h-screen w-screen flex items-center justify-center">
        <div class="flex items-center gap-20 translate-x-10">
            <img src="src/assets/extra/Group_149.svg" alt="Left Aligned Image" width="300px"> <!-- Image moved first -->
            <p class="text-xl font-raleway max-w-xs text-[#944029]">
                <strong class="text-3xl font-lora ">Talent Pipeline</strong><br><br>
                If your company has any open job or internship opportunities, please let us know! We'd be happy to broadcast them to our talented WiCS community.<br>
            </p>
        </div>
    </div>

<!-- sponsorship packet -->    
    <div class="h-screen w-screen flex items-center justify-center">
        <p class="text-xl text-center font-raleway max-w-xs text-[#944029]">
            <strong class="text-3xl font-lora ">Sponsorship Packet</strong><br><br>
            This document holds everything you need to know about supporting WiCS!<br>
        </p>
    </div>

</body>
</html>
