---
import WiCS_Logo_White_Border from '../assets/WiCS_Logo_White_Border.png';
import instagram_logo from '../assets/instagram_logo.svg';
import linkedin_logo from '../assets/linkedin_logo.svg';
import discord_logo from '../assets/discord_logo.svg';
import '/src/styles/global.css';
---

<footer class="absolute bottom-0 w-full h-[500px] bg-pink-500 text-cream-100 pb-15 gap-x-20">
    <div id="container" class="pt-15 flex justify-evenly flex-row m-10" >
        <!-- left side: Wics Image, Name, Social Handles -->
        <div>
            <div class="name flex flex-row ">
                <img src={WiCS_Logo_White_Border.src}>
                <h1>Women in 
                Computer Science</h1>
            </div>
            <!--Social Media Handles and its logo-->
            <div class="socialLinks"> 
                <ul>
                    <li>
                        <img src={instagram_logo.src} alt="InstagramLogo" width="20" height="25">
                        <a href="https://www.instagram.com/wicsatuic/">Instagram</a>
                        <span class="pr-2 pl-2">|</span>
                    </li>
                    <li>
                        <img src={linkedin_logo.src} alt="Linkedin" width="20" height="25">
                        <a href="https://www.linkedin.com/company/women-in-computer-science-uic">Linkedin</a>
                        <span class="pr-2 pl-2">|</span>
                    </li>
                    <li>
                        <img src={discord_logo.src} alt="DiscordLogo" width="20" height="25">
                        <a href="https://discord.gg/YUa3dSS8yR">Discord</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right Col: List of different Links -->
        <div class="web-links">
            <div = class="left-links">
                <ul class="pr-5 ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="pr-5"></a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Current Events</a></li>
                    <li><a href="#">Past Events</a></li>
                </ul>
            </div>
            <div class="right-links">
                <ul>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Join WiCS</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Collaborate</a></li>
                </ul>
            </div> 
        </div>
    </div>
<p class="copyright">Copyright © 2025 Women in Computer Science at University of Illinois Chicago</p>
</footer>


    
<style>

    footer {
        border-radius: 100%/200px 200px 0 0;
    }
    .name {
        display: flex;
        flex-direction: flex;
    }
    .name img{
        width: 10.19rem;
        height: 10.19rem;
    }
    .name h1{
        font-family: var(--font-lora);
        font-weight: bold;
        white-space: pre-line;
        font-size: 2.75rem;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
    .socialLinks ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    }
    .socialLinks li{
        display: flex;
        align-items: center;
        /* margin-right: 20px; */
    }
    .socialLinks img{
        width: 20px;
        height: 25px;
    }
    .socialLinks a{
        font-family: var(--font-raleway);
        font-weight: 600;
        font-size: 1.10rem;
        text-decoration: underline;
        padding-left: 5px;
    }

    .web-links{
        display: flex;
        font-family: var(--font-raleway);
    }

    .web-links ul{
        list-style: none;
    }
    .web-links li{
        font-family: var(--font-raleway);
        font-weight: 600;
        font-size: 1.15rem;
    }

    .copyright{
        font-family: var(--font-raleway);
        font-style: italic;
        text-align: center;
    }
</style>
