<div class="flex justify-center flex-row m-10 gap-x-20" style=" bg-color:rgb(249,228,224)" >
    <!-- left side: Wics Image, Name, Social Handles -->
    <div>
        <div class="flex flex-row ">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/University_of_Illinois_at_Chicago_circle_logo.svg/2048px-University_of_Illinois_at_Chicago_circle_logo.svg.png" alt="Logo" width="80" height="90">
            <h1 class="font-serif font-bold whitespace-pre-line text-2xl pt-5 pl-5">Women in 
            Computer Science</h1>
        </div>
        <div>
            <ul class="flex flex-row list-none pt-5 items-center">
                <li>
                    <img src="https://www.citypng.com/public/uploads/preview/hd-official-outline-instagram-ig-logo-icon-png-701751694786948nms5td2hyk.png" alt="InstagramLogo" width="25" height="35" class="pr-2">
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="pr-5" style="text-decoration: underline">Instagram</a>
                </li>
                <li>
                    <img src="https://banner2.cleanpng.com/20180529/str/avpsm7w6e.webp" alt="Linkedin" width="25" height="35" class="pr-2">
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="pr-5" style="text-decoration: underline">Linkedin</a>
                </li>
                <li>
                    <img src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png" alt="DiscordLogo" width="25" height="35" class="pr-2">
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="pr-5" style="text-decoration: underline">Discord</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Right Col -->
    <div>

        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/University_of_Illinois_at_Chicago_circle_logo.svg/2048px-University_of_Illinois_at_Chicago_circle_logo.svg.png" alt="Logo" width="80" height="90">
            <h1>Women in Computer Science</h1>
        </div>
    </div>
    
</div>
