<div class="navbar flex flex-row items-center">
    <a href='/' class="p-3">
        <img src="src/assets/logo.png" alt="Logo" class="w-12 h-auto">
    </a>
    <a href='/' class="pr-5">
        <img src="src/assets/menu.svg" alt="menu">
    </a>
</div>

<div class="hamburger-menu flex flex-col items-start justify-start pt-10" id="mobile-menu">
    <!-- <a href="/" class="dropdown">Home</a> -->
    <a href='/'>
        <img src="src/assets/logo.png" alt="Logo" class="w-12 h-auto">
    </a>
    
    <div class="menu-item flex flex-col">
        <a href="/events" class="dropdown">Events</a>
        <div class="dropdown-menu flex flex-col">
            <a href="/events">Calendar</a>
            <a href="/events">Upcoming Events</a>
            <a href="/events">Past Events</a>
        </div>
    </div>
    <a href="/resources">Resources</a>
    <a href="/join-wics">Join WiCS</a>
    <a href="/team">Our Team</a>
    <a href="/about">About</a>
    <a href="/collaborate">Collaborate</a>
</div>

<style>
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        /* width: 100vh; */
        background-color: var(--color-red-200);
        justify-content: space-between;
    }






    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: #ffb8b9d9;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
        display: none;
    }
    .hamburger-menu a {
        color: white;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); /* horizontal, vertical, blur, color */
        width: 100%;
        padding: 10px;
        padding-left: 30px;
    }
    .hamburger-menu a:hover {
        background-color: #f6a3a4d9;
    }

</style>