
<!-- top navbar (visible in mobile) -->

<div class="navbar flex flex-row items-center">
    <a href='/' class="p-3">
        <img src="src/assets/logo.png" alt="Logo" class="w-7 h-auto">
    </a>
    <button id="menu-btn" class="menu-btn flex justify-end pr-3 text-white text-2xl">
        &equiv;
    </button>
</div>


<!-- sidebar (visible in mobile) -->
<div class="hamburger-menu flex flex-col items-start justify-start text-white" id="mobile-menu">
    <button id="close-btn" class="close-btn flex justify-end text-3xl text-white">
        &times;
    </button>
    <a href='/'>
        <img src="src/assets/logo.png" alt="Logo" class="w-10 h-auto">
    </a>
    
    <div class="menu-item flex flex-col w-100">
        <!-- <div class="events flex flex-row items-center"> -->
            <a href="/events" class="dropdown">Events</a>
            <!-- <button id="dropdown-btn" class="dropdown-btn flex justify-start text-2xl text-white">
                &#2304;
            </button> -->
        <!-- </div> -->
        
        <div class="dropdown-menu flex flex-col">
            <a href="/events">Calendar</a>
            <a href="/events">Upcoming Events</a>
            <a href="/events">Past Events</a>
        </div>
    </div>
    <a href="/resources">Resources</a>
    <a href="/join-wics">Join WiCS</a>
    <a href="/team">Our Team</a>
    <a href="/about">About</a>
    <a href="/collaborate">Collaborate</a>
</div>

<style>
    .navbar {
        position: fixed;
        top: 0;
        min-width: 100%;
        background-color: #ffb8b9; /* #ffb8b9d9; */
        /* box-shadow: 0px 1px 2px rgba(0,0,0,0.1); */
        z-index: 999;

        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    
    /* sidebar styling */ 
    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        max-width: 90vw;
        z-index: 1000;
        background-color: #ffb8b9d9;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0px 10px rgba(0,0,0,0.1);

        transform: translateX(0%);
        transition: transform 0.3s ease-in-out;
    }
    .events button {
        padding-left: 18px;
    }
    .hamburger-menu a, button {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
        width: 100%;
        padding: 10px;
        padding-left: 30px;
        text-decoration: none;
    }
    .hamburger-menu a:hover {
        background-color: #f6a3a4d9;
    }
    .hamburger-menu.is-open {
        transform: translateX(0);
    }
    /* hover Events */ 
    /* menu-item, dropdown, dropdown-menu */
    .dropdown {
        display: flex;
    }
    .dropdown-menu {
        display: none;
        padding-left: 20px;
    }
    .dropdown:hover + .dropdown-menu {
        display: flex;
    }
    .dropdown-menu:hover {
        display: flex;
    }
    /* .dropdown-menu.is-open {
        display: flex;
    } */
    /* does not show */
    @media (min-width: 1051px){
        .navbar,
        .hamburger-menu {
            display: none;
            transform: translateX(100%) !important;
        }
    }
    /* shows */
    /* @media(max-width: 1050px) {
        .navbar {
            opacity: 1;
            visibility: visible;
        }
    } */
</style>

<script >
    // This script will run in the browser after the HTML is parsed
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.getElementById('menu-btn');
        const navbar = document.querySelector(".navbar") as HTMLElement;
        const sidebar = document.querySelector('.hamburger-menu') as HTMLElement;
        const closeButton = document.querySelector('.close-btn') as HTMLElement;
        
        if (menuButton && sidebar && navbar) {
            menuButton.addEventListener('click', () => {
                sidebar.classList.add('is-open');
                navbar.style.opacity = '0';
                navbar.style.visibility = 'hidden';
            });
        }

        if (closeButton && sidebar && navbar) {
            closeButton.addEventListener('click', () => {
                sidebar.classList.remove('is-open');
                navbar.style.opacity = '1';
                navbar.style.visibility = 'visible';
            });
        }
        /* for very thin mobile phones */
        if (sidebar) {
            if (window.innerWidth <= 1050) {
                sidebar.classList.remove('is-open');
            }
        }
    });
</script>


<!-- <script >
    // This script will run in the browser after the HTML is parsed
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.getElementById('menu-btn');
        const sidebar = document.querySelector('.hamburger-menu') as HTMLElement;
        const navbar = document.querySelector(".navbar") as HTMLElement;

        if (menuButton && sidebar && navbar) {
            menuButton.addEventListener('click', () => {
                sidebar.style.display = 'flex';
                navbar.style.display = 'none';
            });
        } 

        const closeButton = document.querySelector('.close-btn') as HTMLElement;
        if (closeButton && sidebar && navbar) {
            closeButton.addEventListener('click', () => {
                sidebar.style.display = 'none'; // <--- THIS IS THE LINE THAT HIDES IT AGAIN!
                navbar.style.display = 'flex';
            });
        }
    });

</script> -->