---
import "../styles/global.css";

const { title = "Pages", subheadline = "Subheadline"} = Astro.props;

---
<section class="text-[#A95C5D] header w-full h-full background-layer overflow-hidden flex flex-col justify-center items-center flex-text">
    <div class="text-5xl font-lora flex h-25 justify-center items-center">
        <h1 class="font-bold text-5xl font-lora">{title}</h1>
    </div>
    <div class="font-lora text-[#A95C5D] p-[30px] text-3xl justify-center items-center ">
        <h1 class="text-[#A95C5D] text-center font-lora semi-bold p-[15px] ">
           {subheadline}
        </h1>
    </div>

    <div class="font-lora text-[#A95C5D] text-2xl justify-center items-center super-bold">
        <img src="src/assets/header/arrow.svg" class= "arrow spacing">
    </div>

</section>


<style>
    .header {
        background-image: linear-gradient(180deg, #f5d1cc, #FFF7ED);
        gap: 60px;
    }
</style>

<style>
    .semi-bold {
      font-weight: 500; 
    }
</style>

<style>
    .super-bold {
      font-weight: 1000; 
    }
</style>

<style>
    .arrow-spacing{
        margin-top: 10px;
    }
</style>
