---
import "../styles/global.css";
---

<section class="relative landing w-full h-full background-layer overflow-hidden">
  <img src="src/assets/extra/whitecloud.svg" class="absolute w-[300px]"/>
    <div class="text-[#A95C5D] text-left px-30 py-50">
      <h2 class="text-xl py-2 font-raleway">
        Innovate. Lead. Succeed.
      </h2>
      <h1 class="font-bold text-5xl font-lora">Women in</h1>
      <h1 class="font-bold text-5xl font-lora">
        Computer Science
      </h1>
      <h2 class="text-xl py-5 font-raleway">
        UNIVERSITY OF ILLINOIS CHICAGO
      </h2>

      <div class="text-left py-5">
        <a
          class="bg-[#71C3C3] text-[#FFF4ED] px-6 py-2 rounded-full font-semibold font-raleway shadow-md inline-block text-center hover:bg-[#5a9d9d] transition"
          href="#">Join Us!</a
        >
      </div>
    </div>
</section>

<style>
    .landing {
        background-image: linear-gradient(180deg, #98D3D3, #fcfaf2);
    }
</style>