import "../styles/global.css";
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

	

<html lang="en">
		<head>
            <meta charset="utf-8" />
		    <meta name="viewport" content="width=device-width" />
		    <meta name="generator" content={Astro.generator} />
			<!-- <title>Innovate. Lead. Succeed.</title> -->
		</head>

        <body class="bg-blue-50">
            <div class="bg-blue-50 text-left px-30 py-50">
                <h2 class="text-xl py-2 text-rose-900">Innovate. Lead. Succeed.</h2>
                <h1 class="font-bold text-5xl text-rose-900">Women in</h1>
                <h1 class="font-bold text-5xl text-rose-900">Computer Science</h1>
                <h2 class="text-xl py-5 text-rose-900">UNIVERSITY OF ILLINOIS CHICAGO</h2>

                <div class="text-left py-5">
                    <a class="bg-blue-300 text-white px-6 py-2 rounded-full font-semibold shadow-md inline-block text-center hover:bg-blue-400 transition" href="join_button">Join Us!</a>
                </div>
            </div>
        </body>

</html>