import "../styles/global.css";
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

	

<html lang="en">
		<head>
            <meta charset="utf-8" />
		    <meta name="viewport" content="width=device-width" />
		    <meta name="generator" content={Astro.generator} />
			<!-- <title>Innovate. Lead. Succeed.</title> -->
		</head>

        <body>
			<div class="flex flex-col">
				<h1 class="font-bold text-2xl m-5 color-white text-front">                                    </h1>
			</div>
			<div class="flex flex-col">
				<h1 class="font-bold text-2xl m-5 color-white text-front">                                    </h1>
			</div>
			<div class="flex flex-col">
				<h1 class="font-normal text-3x1 m-5 color-white text-front">Innovate. Lead. Succeed</h1>
			</div>
			<div class="flex flex-col">
				<h1 class="font-bold break-words text-2xl m-5 color-white text-front">Women in</h1>  
			</div>
			<div class="flex flex-col">
				<h1 class="font-bold break-words text-2xl m-5 color-white text-front">Computer Science</h1>  
			</div>
			<div class="flex flex-col">
				<h1 class="font-normal text-5x1 m-5 color-white text-front">UNIVERSITY OF ILLINOIS CHICAGO</h1>
			</div>
			

            <h1 class="font-bold m-[10px]"></h1>
		    <div class="w-[40px] border"></div>

            <h1 class="font-bold m-[10px]"></h1>
		    <div class="w-[40px] border"></div>

        </body>


        <nav>
			<div class="flex flex-col">
				<a class="join link" href="join_button">   Join Us!   </a>
			</div>
        </nav>
</html>