<nav class="nav">
    <ul class="nav-list">
        <li><a href="/events">Events</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/join-wics">Join WiCS</a></li>
        <li><a img="/img.jpg" href="/join-wics">ICON</a></li>
        <li><a href="/our-team">Our Team</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/collaborate">Collaborate</a></li>

    </ul>
</nav>

<style>
    .nav {
    display: flex;
    position: absolute; /* sticky */
    align-items: center;
    justify-content: center;
    
    background: pink;
    color: white;
    

    width: 75%;
    height: 10%;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;

    
    padding: 10px 20px;
    }
    .nav-list {
        display: flex;
        grid-auto-flow: column;
    }
    .nav-list hover {
        color: palevioletred;
    }
</style>

