---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container" class="flex flex-col">
    <h1>Stay Connected!</h1>
    <div class="flex flex-row gap-4">
        <a class="bg-amber-300" href="">Instagram</a>
        <a class="bg-amber-300" href="">Linkdin</a>
        <a class="bg-amber-300" href="">Discord</a>
    </div>
</div>
   

<style>

    a {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}
	
</style>
