---
import PopUpCard from '../components/timelineComponent/PopUpCard.astro'
---

<!-- Background of the component -->
<div id="container" class="flex flex-row flex-wrap gap-50 w-full bg-fixed justify-center items-center h-screen bg-cream-300 bg-[url(src/components/timelineComponent/timelinebackground.png)] h-screen w-full bg-no-repeat bg-contain bg-center ">
    <div class="absolute 2xl:top-[41%] 2xl:left-[10%] xl:top-[42%] xl:left-[10%] lg:top-[43%] lg:left-[10%] md:top-[45%] md:left-[10%] sm:top-[46%] sm:left-[10%]">
        <PopUpCard 
        title="Demo Title"
        year="2015"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."
        offsetLocation = 12 
        />
    </div>
    
    <div class="absolute top-[55%] left-[29%]">
        <PopUpCard 
        title="Demo Title"
        year="2017"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>

    <div class="absolute top-[41%] left-[40%] lg:top-[42%] sm:top-[45%]">
        <PopUpCard 
        title="Demo Title"
        year="2016"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>
    
    <div class="absolute 2xl:top-[69%] left-[53%] xl:top-[67%] lg:top-[66%] md:top-[62%] sm:top-[59%]">
        <PopUpCard 
        title="Demo Title"
        year="2020"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>
    
    <div class="absolute 2xl:top-[35%] left-[74%] xl:top-[37%] lg:top-[38%] md:top-[41%] sm:top-[42%]">
        <PopUpCard 
        title="Demo Title"
        year="2022"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>

    <div class="absolute 2xl:top-[71%] left-[84%] xl:top-[69%] lg:top-[68%] md:top-[63%] sm:top-[60%]">
        <PopUpCard 
        title="Demo Title"
        year="2025"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>


</div>