---
import LeftItem from "./timelineComponent/LeftItem.astro";
import RightItem from "./timelineComponent/RightItem.astro";
---

<div class="bg-cream-300 min-h-screen justify-center items-center">
  <div class="container mx-auto py-12 px-14">

    <div class="relative">

      <!-- Middle line -->
      <div class="absolute left-1/2 transform -translate-x-1/2 h-full w-2 rounded-xl bg-pink-100"></div>
      
      <!-- Timeline items -->
      <div class="space-y-8">

        <LeftItem
        year = "2015"
        title = "Event Title"
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        />
        
        <RightItem
        year = "2016"
        title = "Event Title"
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        />

        <LeftItem
        year = "2017"
        title = "Event Title"
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem."
        />
        
        <RightItem
        year = "2020"
        title = "Event Title"
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        />

        <LeftItem
        year = "2022"
        title = "Event Title"
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem."
        />
        
        <RightItem
        year = "2025"
        title = "Event Title"
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        />

        
      </div>
    </div>
  </div>
</div>