---
import PopUpCard from '../components/timeline component/PopUpCard.astro'
---

<!-- Background of the component -->
<div id="container" class="flex flex-row gap-10 w-full justify-center items-center h-screen bg-cream-300">
    <PopUpCard 
    title="Demo Title"
    year="2015"
    description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>

    <PopUpCard 
    title="Demo Title"
    year="2016"
    description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>

    <PopUpCard 
    title="Demo Title"
    year="2017"
    description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>

    <PopUpCard 
    title="Demo Title"
    year="2020"
    description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>

    <PopUpCard 
    title="Demo Title"
    year="2022"
    description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>

    <PopUpCard 
    title="Demo Title"
    year="2025"
    description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>


</div>