---
import PopUpCard from '../components/timelineComponent/PopUpCard.astro'
---

<!-- Background of the component -->
<div id="container" class="flex flex-row gap-50 w-full justify-center items-center h-screen bg-cream-300 bg-[url(src/components/timelineComponent/timelinebackground.png)] h-screen w-full bg-no-repeat bg-contain bg-center ">
    <div class="-translate-y-12.5">
        <PopUpCard 
        title="Demo Title"
        year="2015"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."
        offsetLocation = 12 
        />
    </div>
    
    <div class="-translate-y-[-5vw] -translate-x-[-2vw]">
        <PopUpCard 
        title="Demo Title"
        year="2016"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>

    <div class="-translate-x-1/8">
        <PopUpCard 
        title="Demo Title"
        year="2017"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>
    
    <div class="-translate-y-[-13.5vw]">
        <PopUpCard 
        title="Demo Title"
        year="2020"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>
    
    <div class="-translate-y-[7vw]">
        <PopUpCard 
        title="Demo Title"
        year="2022"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>

    <div class="-translate-y-[-14.5vw]">
        <PopUpCard 
        title="Demo Title"
        year="2025"
        description="Enter the description here. Enter the description here. Enter the description here. Enter the description here."/>
    </div>


</div>