<body>
    <div class="card">
        <div class="item weather-icon">
            <p class="title">Rainy</p>
            <img class="icon" src="src/assets/weather-images/rain.png">

        </div>
        <div class="item weather-info">
            <h3>New York, USA</h3>
            <p>Monday</p>
            <h1>22*</h1>
            <h2>71.6 F</h2>
        </div>
    </div>
</body>

<script>
    const API_KEY = "315162c22a7656116cbad3b7a28fcf25";
    const API_URL = "https://api.openweathermap.org/data/2.5/weather?q=Chicago&units=metric&appid=315162c22a7656116cbad3b7a28fcf25";

    const weatherIcon = document.querySelector(".weather-icon");

    async function checkWeather(city) {
        const response = await fetch(API_URL + city);

        if (response.status = 404) {
            document.querySelector(".error").style.display = "block";
            document.querySelector(".weather").style.display = "none";
        }
        else {
            var data = await response.json();
        }

        // display on console
        console.log(data);


    }
</script>



<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    .card {
        /* width: 90%;
        max-width: 470px;
        background: purple;
        color: white; */
        /* background: linear-gradient(135deg, #5b548a, #5b548a) */
        background-color: plum;
        color: white;
        border-radius: 5px;

        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */
        gap: 1rem;
        width: 70%;
        max-width: 700px;
        margin: 2rem auto;
    }
    /* .item {
        flex: 1;
    } */
    .card:before {
        content: "";
        border: 1px solid #d3d3d3;
        align-self: stretch;
    }
   

    .weather-icon {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* padding: 10px 30px; */

        order: -1;
    }
    .title {
        /* display:flex; */
        justify-content: flex-start;
    }
    .icon {
        /* display: flex; */
        justify-content: flex-end;
    }
    
    .weather-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* padding: 10px 30px; */
    }
    /* mobile line direction change */
    @media (min-width: 700px) {
        .section {
            align-items: center;
            flex-direction: row;
        }
    }
</style>