<body>
    <div class="card">
        <div class="weather">
            <div class="description">
                Snowy
            </div>
            <div class="weather-icon">
                <img src="src/assets/weather-images/snow.png">
            </div>
            
        </div>
        <div class="seperator">

        </div>
        <div class="weather-info">
            <div class="location">New York, USA</div>
            <div class="date">Monday</div>
            <div class="temp">22°C</div>
            <div class="degree">71.6 F</div>
        </div>
    </div>
</body>

<script>
    const API_KEY = "315162c22a7656116cbad3b7a28fcf25";
    const API_URL = "https://api.openweathermap.org/data/2.5/weather?q=Chicago&units=metric&appid=315162c22a7656116cbad3b7a28fcf25";

    const weatherIcon = document.querySelector(".weather-icon");

    async function checkWeather(city) {
        const response = await fetch(API_URL + city);

        if (response.status = 404) {
            document.querySelector(".error").style.display = "block";
            document.querySelector(".weather").style.display = "none";
        }
        else {
            var data = await response.json();
        }

        // display on console
        console.log(data);


    }
</script>



<style>
   * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: white;
   }
   .card {
    width: 90%;
    max-width: 500px;
    max-height: 250px;
    /* background: linear-gradient(135deg, rgba(147, 160, 217, 0.5), rgba(117, 140, 208, 0.5)); */
    background: linear-gradient(135deg, #93A0D9, #758CD0);
    box-shadow: 0 0 6px #888888;
    margin: 100px auto 0;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
   }
   .weather {
    padding-right: 15px;
    z-index: 1;
   }
   .description {
    padding-top: 45px;

    position: absolute;
    z-index: 2;
   }
   .weather-icon {
    padding-top: 40px;
   }
   .seperator {
    width: 1px;
    height: 200px;
    margin: auto 0;
    background-color: white;
   }
   .weather-info {
    padding-left: 30px;
   }

   .location {
    font-size: 18px;
    font-weight: 600;
   }
   .date {
    padding-bottom: 35px;
   }
   .temp {
    font-size: 35px;
    font-weight: 600;
   }
   .degree {
    font-size: 22px;
    font-weight: 600;
   }
</style>