---

---

<section class="bg-cream-100 flex flex-row justify-around">
    <div class="left-side text-pink-600 content-center w-[700px]">
        <h2 class="left-text font-bold text-4xl font-lora">Why Join Us?</h2>
        <p class="left-text text-2xl font-lora">As an organization dedicated to fostering diversity and inclusion, WiCS provides a welcoming environment where you can learn, grow, and make a difference.</p>
        <p class="left-text text-2xl font-lora">With us, you'll find mentorship from inspiring women in tech, opportunities to collaborate on exciting projects, and access to technical and career workshops, all supported by an active network of peers.</p>
    </div>
    
    <div class="right-side w-[400px]">
        <img src="src/assets/logo.png" alt="WiCS Logo"/>
    </div>
</section>

<style>
    .left-text {
        margin-bottom: 1rem;
    }
</style>