<section class="bg-pink-50 relative flex flex-col items-center content-evenly justify-center h-[150vh] max-h-5xl ">
    <div class="left-components absolute bottom-0 left-0">
        <img class="w-[600px] max-w-full" src="src/assets/extra/cloud-2.svg" alt="cloud" />
    </div>

    <div class="right-components top-0 right-0 absolute">
        <img class="w-[600px] max-w-full" src="src/assets/extra/cloud-3.svg" alt="cloud" />
    </div>

    <div class="middle-components justify-center absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center">
        <div class="text-pink-600 form-container text-center w-[500px]">
            <h2 class="font-bold text-4xl font-lora">Apply for Membership!</h2>
            <p class="font-lora">Fill out the form below to become an official member of WiCS!</p>
        </div>
    
        <form class="bg-pink-300 font-lora form-container flex flex-col justify-between h-[700px] w-[500px] p-7 rounded-3xl">
            <div class="flex flex-col gap-3">
                <label class="font-bold text-pink-600 text-xl" for="name">Name (First Last)</label>
                <input class="text-pink-300 font-raleway italic rounded-2xl h-[50px] p-3 bg-cream-100" type="text" id="name" name="name" placeholder="Type here..." required>
            </div>

            <div class="flex flex-col gap-3">
                <label class="font-bold text-pink-600 text-xl" for="year">Year in University</label>
                <select class="text-pink-300 font-raleway italic rounded-2xl h-[50px] p-3 bg-cream-100" id="year" name="year">
                    <option value="year1">Freshman</option>
                    <option value="year2">Sophmore</option>
                    <option value="year3">Junior</option>
                    <option value="year4">Sentor</option>
                    <option value="grad">Graduate Student</option>
                </select>
            </div>

            <div class="flex flex-col gap-3">
                <label class="font-bold text-pink-600 text-xl" for="major">College Major</label>
                <select class="text-pink-300 font-raleway italic rounded-2xl h-[50px] p-3 bg-cream-100" id="major" name="major">
                    <option value="cs">Computer Science</option>
                    <option value="ce">Computer Engineering</option>
                    <option value="ds">Data Science</option>
                </select>
            </div>

            <div class="flex flex-col gap-3">
                <label class="font-bold text-pink-600 text-xl" for="email">Email Address</label>
                <input class="text-pink-300 font-raleway italic rounded-2xl h-[50px] p-3 bg-cream-100" type="email" id="email" name="email" placeholder="Type here..." required>
            </div>

            <div class="flex justify-left">
                <input id="submit" class="text-cream-100 h-[40px] w-[150px] font-bold font-raleway rounded-xl" type="button" value="Submit">
            </div>
            
        </form>
    </div>




</section>

<style>
    .form-container {
        margin-bottom: 1rem;
    }
    input, select, form {
        box-shadow: 2px 2px 5px grey;
    }
    input#submit {
        background-color: var(--color-teal-200);
        opacity: 1;
        transition: 0.3s;
        
    }
    input#submit:hover {
        background-color: var(--color-teal-100);
        opacity: 1;
        cursor: pointer;
    }
</style>